# Core ML & NLP Libraries
torch
transformers
sentence-transformers
datasets

# Utility Library
pandas

# Dependencies for the libraries above
accelerate
aiohttp
dill
filelock
huggingface-hub
multiprocess
numpy
packaging
pyarrow
regex
requests
safetensors
scikit-learn
scipy
tqdm
xxhash
